COMPOSE_PROJECT_NAME=votingfs

POSTGRES_DB=votingfs
POSTGRES_USER=votingfs
POSTGRES_PASSWORD=change_me_db_password

SECRET_KEY=change_me_super_long_random_secret
APP_BASE_URL=http://localhost
BACKEND_CORS_ORIGINS=http://localhost,http://127.0.0.1
VITE_API_BASE_URL=/api

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_minio_password
MINIO_BUCKET_NAME=polls-images

EXTERNAL_QUOTE_API_BASE_URL=https://dummyjson.com
EXTERNAL_QUOTE_API_TIMEOUT_SECONDS=5
EXTERNAL_QUOTE_API_RETRY_COUNT=2
EXTERNAL_QUOTE_MIN_INTERVAL_SECONDS=1
EXTERNAL_QUOTE_CACHE_TTL_SECONDS=10
